body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#main-container {
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 3;
    gap: 20px;
}

#first-block {
    background-color: red;
    height: 10vh;
    }

.blue-block {
    background-color: blue;
    height: 10vh;
    width: 15vw;
    align-content: start;
    
}

.yellow-block {
    background-color: yellow;
    height: 10vh;
    width: 15vw;
}

.green-block {
    background-color: green;
    height: 10vh;
    width: 15vw;
}

.black-block {
    background-color: black;
    color: white;
    height: 40vh;
    width: 40vw;
}

.white-block {
    background-color: white;
    height: 10vh;
    width: 15vw;
}